<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<!-- WAS가 설정 커넥션풀(DataSource) 을 jndi lookup -->
	<jee:jndi-lookup id="dataSource"
		jndi-name="java:comp/env/jdbc/oracle" />
	
	<!-- 트랜잭션을 annotation으로 -->
	<tx:annotation-driven/>
	 
	 <context:component-scan base-package="org.jbp.model2.*"/>
	
	<bean id="transactionManager"
 p:dataSource-ref="dataSource"
  class="org.springframework.jdbc.datasource.DataSourceTransactionManager"/>

	<bean id="sqlSessionFactory" p:dataSource-ref="dataSource"
		p:configLocation="/WEB-INF/mybatis-config.xml"
		class="org.mybatis.spring.SqlSessionFactoryBean" />

	<!-- SqlSessionTemplate 설정(sqlsession) -->
	<bean id="sqlSession" c:sqlSessionFactory-ref="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionTemplate" />

<!-- 
	 <util:map id="users" 
	 key-type="java.lang.String" value-type="org.jbp.model2.vo.User" 
	 map-class="java.util.concurrent.ConcurrentHashMap"/>
	  -->

</beans>







